# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db